@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

:root {
    --header-bg-colour: #1b242f;
    --header-h1-colour: #00f7ff;
    --header-text-colour: #f1f1f1;
    --header-block-one-colour: #ffb510;
    --header-block-two-colour: #ff7b00;
    --about-bg-colour: #f1f1f1;
    --about-h2-colour: #e31b6d;
    --about-text-colour: #1b242f;
    --skills-bg-colour: #f1f1f1;
    --skills-h2-colour: #e31b6d;
    --skills-ul-bg-colour: #1b242f;
    --skills-li-hover-colour: #00f7ff;
    --projects-bg-colour: #1b242f;
    --projects-card-bg-colour: #1e2835;
    --projects-card-bg-colour-hover: #242f3d;
    --projects-card-bg-colour-hover-shadow: #1a2029;
    --projects-h2-colour: #e31b6d;
    --projects-h3-colour: #00f7ff;
    --projects-text-colour: #f1f1f1;
    --projects-a-colour: #e31b6d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    padding: 0 1rem;
}

/* NOTE: HEADER SECTION */

.header__section {
    width: 100%;
    background: var(--header-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__section .box .title {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    height: 4rem;
}

.header__section .box {
    margin: 7rem 0;
}

.header__section .box .title .block {
    width: 0%;
    height: inherit;
    display: flex;
    background: var(--header-block-one-colour);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.header__section .box .title h1 {
    font-family: "Poppins", sans-serif;
    color: var(--header-h1-colour);
    font-size: 3rem;
    opacity: 0;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    position: relative;
}

.header__section .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
}

.header__section .box .role .block {
    width: 0%;
    height: inherit;
    background: var(--header-block-two-colour);
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.header__section .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--header-text-colour);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 0.75;
    }
}

/* NOTE: ABOUT ME SECTION */

.about__section {
    width: 100%;
    background: var(--about-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.about__section .container h2 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: var(--about-h2-colour);
}

.about__section .container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--about-text-colour);
}

/* NOTE: SKILLS SECTION */

.skills__section {
    width: 100%;
    background: var(--skills-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.skills__section .container h2 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: var(--skills-h2-colour);
}

.skills_ul_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_ul_container li {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    color: #fff;
    background: var(--skills-ul-bg-colour);
    list-style: none;
    margin: 5px;
    cursor: default;
    transition: all 0.25s;
    position: relative;
}

.skills_ul_container li:hover {
    transform: translate(20px);
}

.skills_ul_container li::before, li::after {
    content: "";
    position: absolute;
    background: var(--skills-ul-bg-colour);
    transition: all 0.25s;
}

.skills_ul_container li::before {
    width: 20px;
    height: 100%;
    top: 0;
    left: -25px;
}

.skills_ul_container li::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.skills_ul_container li:hover::before, li:hover::after {
    background: var(--skills-li-hover-colour);
    box-shadow: 0 0 10px var(--skills-li-hover-colour);
}

/* NOTE: PROJECTS SECTION */

.projects__section {
    width: 100%;
    background: var(--projects-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.projects__section .container h2 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: var(--projects-h2-colour);
}

.projects_grid_container {
    display: grid;
    width: 100%;
    align-items: space-between;
    justify-content: center;
    grid-template: 1fr / 1fr 1fr;
    gap: 1rem;
}

.project_card {
    /* max-width: 609px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background: var(--projects-card-bg-colour);
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem 1rem;
}

.project_card:hover {
    background: var(--projects-card-bg-colour-hover);
    box-shadow: 4px 4px 2px var(--projects-card-bg-colour-hover-shadow);
}

.pc_left_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
}

.pc_left_panel img {
    width: 100%;
}

.pc_left_panel h3 a {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    color: var(--projects-h3-colour);
    text-decoration: none;
}

.pc_right_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.pc_right_panel p, .pc_right_panel li, .pc_right_panel a {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--projects-text-colour);
}

.pc_right_panel a {
    color: var(--projects-a-colour);
    text-decoration: none;
}

.pc_right_panel a:hover {
    text-decoration: underline;
}

.pc_right_panel ul {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.pc_right_panel li {
    list-style: none;
    font-style: italic;
}

@media (max-width: 1050px) {
    .projects_grid_container {
        grid-template: 1fr / 1fr;
        gap: 1rem;
    }
}