@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

:root {
    --dark-blue-colour: #1b242f;
    --bright-blue-colour: #00f7ff;
    --off-white-colour: #f1f1f1;
    --bright-pink-colour: #e31b6d;
    --header-block-colour: #ffb510;
    --projects-card-bg-colour: #1e2835;
    --projects-card-bg-colour-hover: #242f3d;
    --projects-card-bg-colour-hover-shadow: #1a2029;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    padding: 0 1rem;
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    color: var(--bright-pink-colour);
}

/* NOTE: HEADER SECTION */

.header__section {
    width: 100%;
    background: var(--dark-blue-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__section .box .title {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    height: 5rem;
}

.header__section .box {
    margin: 10rem 0;
}

.header__section .box .title .block {
    width: 0%;
    height: inherit;
    display: flex;
    background: var(--header-block-colour);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.header__section .box .title h1 {
    font-family: "Poppins", sans-serif;
    color: var(--bright-blue-colour);
    font-size: 4rem;
    font-weight: 400;
    opacity: 0;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    position: relative;
}

.header__section .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
}

.header__section .box .role .block {
    width: 0%;
    height: inherit;
    background: var(--header-block-colour);
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.header__section .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--off-white-colour);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

@media (max-width: 400px) {
    .header__section .box .title h1 {
        font-size: 3rem;
    }
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 0.75;
    }
}

/* NOTE: ABOUT ME SECTION */

.about__section {
    width: 100%;
    background: var(--off-white-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.about__section .container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--dark-blue-colour);
}

/* NOTE: SKILLS SECTION */

.skills__section {
    width: 100%;
    background: var(--off-white-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.skills_ul_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_ul_container li {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    color: #fff;
    background: var(--dark-blue-colour);
    list-style: none;
    margin: 5px;
    cursor: default;
    transition: all 0.25s;
    position: relative;
}

.skills_ul_container li:hover {
    transform: translate(20px);
}

.skills_ul_container li::before, li::after {
    content: "";
    position: absolute;
    background: var(--dark-blue-colour);
    transition: all 0.25s;
}

.skills_ul_container li::before {
    width: 20px;
    height: 100%;
    top: 0;
    left: -25px;
}

.skills_ul_container li::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.skills_ul_container li:hover::before, li:hover::after {
    background: var(--bright-blue-colour);
    box-shadow: 0 0 10px var(--bright-blue-colour);
}

/* NOTE: PROJECTS SECTION */

.projects__section {
    width: 100%;
    background: var(--dark-blue-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.projects_grid_container {
    display: grid;
    width: 100%;
    align-items: space-between;
    justify-content: center;
    grid-template: 1fr / 1fr 1fr;
    gap: 1rem;
}

.project_card {
    /* max-width: 609px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background: var(--projects-card-bg-colour);
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem 1rem;
}

.project_card:hover {
    background: var(--projects-card-bg-colour-hover);
    box-shadow: 4px 4px 2px var(--projects-card-bg-colour-hover-shadow);
}

.project_card>a {
    min-width: 40%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.pc_left_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
    min-width: 40%;
    width: 100%;
    height: 100%;
}

.pc_left_panel img {
    width: 100%;
}

.pc_left_panel h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    color: var(--bright-blue-colour);
}

.pc_left_panel h3:hover {
    text-decoration: underline;
}

.pc_left_panel h3 i {
    font-size: 0.6rem;
}

.pc_right_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.pc_right_panel p, .pc_right_panel li, .pc_right_panel a {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--off-white-colour);
}

.pc_right_panel a {
    color: var(--bright-pink-colour);
    text-decoration: none;
}

.pc_right_panel a:hover {
    text-decoration: underline;
}

.pc_right_panel ul {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.pc_right_panel li {
    list-style: none;
    font-style: italic;
}

@media (max-width: 1050px) {
    .projects_grid_container {
        grid-template: 1fr / 1fr;
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .project_card {
        flex-direction: column;
    }
}

/* NOTE: CONTACT SECTION */

.contact__section {
    width: 100%;
    background: var(--off-white-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.contact__section .container li, .contact__section .container li a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--dark-blue-colour);
    list-style: none;
    line-height: 2.5rem;
    text-decoration: none;
}

.contact__section .container li a:hover {
    text-decoration: underline;
}

/* NOTE: FOOTER */

footer {
    width: 100%;
    background: var(--off-white-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-content: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer p, footer a {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--dark-blue-colour);
}

footer a {
    color: var(--bright-pink-colour);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* NOTE: SECTION DIVIDER BLUE LINES */

.header__section, .skills__section, .projects__section {
    border-bottom: 3px var(--bright-blue-colour) solid;
    position: relative;
}

.header__section::before, .skills__section::before, .projects__section::before {
    width: 100%;
    position: absolute;
    height: 1px;
    content: "";
    background-color: var(--bright-blue-colour);
    bottom: 1px;
    z-index: 1;
}