@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

:root {
    --header-bg-colour: #1b242f;
    --header-h1-colour: #00f7ff;
    --header-text-colour: #f1f1f1;
    --header-block-one-colour: #ffb510;
    --header-block-two-colour: #ff7b00;
    --about-bg-colour: #f1f1f1;
    --about-h1-colour: #e31b6d;
    --about-text-colour: #1b242f;
    --skills-bg-colour: #f1f1f1;
    --skills-h1-colour: #e31b6d;
    --skills-ul-bg-colour: #1b242f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    padding: 0 1em;
}

/* NOTE: HEADER SECTION */

.header__section {
    width: 100%;
    background: var(--header-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__section .box .title {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    height: 4em;
}

.header__section .box {
    margin: 7em 0;
}

.header__section .box .title .block {
    width: 0%;
    height: inherit;
    display: flex;
    background: var(--header-block-one-colour);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.header__section .box .title h1 {
    font-family: "Poppins", sans-serif;
    color: var(--header-h1-colour);
    font-size: 3em;
    opacity: 0;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    position: relative;
}

.header__section .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 2em;
    margin-top: 1em;
}

.header__section .box .role .block {
    width: 0%;
    height: inherit;
    background: var(--header-block-two-colour);
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.header__section .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--header-text-colour);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 0.75;
    }
}

/* NOTE: ABOUT ME SECTION */

.about__section {
    width: 100%;
    background: var(--about-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
    gap: 2em;
}

.about__section .container h1 {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    color: var(--about-h1-colour);
}

.about__section .container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: var(--about-text-colour);
}

/* NOTE: SKILLS SECTION */

.skills__section {
    width: 100%;
    background: var(--skills-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
    gap: 2em;
}

.skills__section .container h1 {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    color: var(--skills-h1-colour);
}

.skills_ul_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_ul_container li {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    color: #fff;
    background: var(--skills-ul-bg-colour);
    list-style: none;
    margin: 5px;
    cursor: default;
    transition: all 0.25s;
    position: relative;
}

.skills_ul_container li:hover {
    transform: translate(20px);
}

.skills_ul_container li::before, li::after {
    content: "";
    position: absolute;
    background: var(--skills-ul-bg-colour);
    transition: all 0.25s;
}

.skills_ul_container li::before {
    width: 20px;
    height: 100%;
    top: 0;
    left: -25px;
}

.skills_ul_container li::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.skills_ul_container li:hover::before, li:hover::after {
    background: #00ffff;
    box-shadow: 0 0 10px aqua;
}

/* NOTE: PROJECTS SECTION */

